# For connecting to the SchemaService:
platformAPIBasePath=https://platform.nypl.org/api/v0.1

# Schema paths in SchemaService:
bibSchemaPath=/current-schemas/BibPostRequest
itemSchemaPath=/current-schemas/ItemPostRequest

# Which Kinesis streams to send updates and deletions:
kinesisBibStream=BibPostRequest-qa
kinesisItemStream=ItemPostRequest-qa

# Creds to write to Kinesis streams:

AWS_ACCESS_KEY_ID=[aws key]
AWS_SECRET_ACCESS_KEY=[aws secret]
AWS_REGION=us-east-1

# Enable "bulk" mode:
onlyDoUpdates=false
scsbexportstagingLocation=/app/bulk-import

# Localize EN US:
LC_ALL=en_US.UTF-8
