Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets:
            - "Fn::GetOptionSetting":
                Namespace: "aws:elasticbeanstalk:application:environment"
                OptionName: "SSH_KEY_BUCKET_NAME"
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "cloudwatchable-beanstalk"
files:
  # Private key
  /home/webapp/.ssh/id_rsa_htc:
    mode: "000400"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source:
      "Fn::GetOptionSetting":
        Namespace: "aws:elasticbeanstalk:application:environment"
        OptionName: "S3_URL_TO_SSH_KEY"
