Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["credential-store-qa"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "cloudwatchable-beanstalk"
files:
  # Private key
  /Users/ec2-user/.ssh/id_rsa_htc:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: "https://s3.amazonaws.com/credential-store-qa/id_rsa_htc"
